<div id="<%= dom_id game %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Game art:</strong>
    <%= game.game_art %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= game.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Platform:</strong>
    <%= game.platform %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Publisher:</strong>
    <%= game.publisher %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Developer:</strong>
    <%= game.developer %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Genre:</strong>
    <%= game.genre %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Series:</strong>
    <%= game.series %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Release year:</strong>
    <%= game.release_year %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date purchase:</strong>
    <%= game.date_purchase %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Purchased For:</strong>
    <%= game.purchased_price %>
  </p>

  <p class="my-5">
  <strong class="block font-medium mb-1">Quantity:</strong>
  <%= game.quantity %>
</p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Condition:</strong>
    <%= game.condition %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Items included:</strong>
    <%= game.items_included %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Region:</strong>
    <%= game.region %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= game.description %>
  </p>

</div>
