<div class="w-full">
  <% if notice.present? %>
    <p class=" py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Games" %>
  <div class="flex m-8 justify-end">
  <div class= "text-md px-4 py-2 font-bold">Collection Cost: $<%= @total_cost%></div>
  <%= link_to "Add", new_game_path, class: "rounded-md  px-4 py-2 bg-blue-600  text-white font-medium hover:bg-blue-900" %>
  </div>
  <div class="flex justify-center">
    <div class="flex flex-col">
    <h1 class="font-bold text-4xl">My Collection</h1>
    <h3 class="px-10"> Trending Value: $200 </h3>
    </div>
  </div>

  <%= search_form_for @q do |f|%>
    <div class="flex justify-center p-4 ">
      <div class="mr-2 py-2 px-4 bg-indigo-600 hover:bg-indigo-900 hover:cursor-pointer rounded-md text-white ">
      <%= f.submit %>
      </div>
      <%= f.search_field :title_cont, class: "w-1/3 rounded-md" %>
    </div>
  <%end%>

  <div id="games" class="flex justify-center">
    <div class="grid px-10 py-4">
    <% @games.each do |game| %>
      <%= render partial: "game_card", locals: {game:game} %>
    <% end %>
    </div>
  </div>
</div>
